.classroom-container {
  font-size: 18px;
  padding-top: 10px;
}

.classroom-title-container {
  align-content: center;
  margin-left: 10px;
  margin-right: 1px;
}

.classroom-title-container h1 {
  font-size: 1em;
  letter-spacing: -0.015em;
  color: #263238;
  text-align: center;
}
