.psychography-container {
    font-size: 18px;
    /*border: 1px solid rgb(25, 0, 255);*/
    padding: 10px 10px 75px 10px;
}

.psychography-title-container {
    margin-bottom: 20px; 
    align-content: center;   
    margin-left: 0px;
    margin-right: 0px;
}

.psychography-title-container h1 {
    font-size: 1em;
    letter-spacing: -0.015em;
    color: #263238;       
    text-align: center;
}

@media (min-width: 768px) {

    .psychography-container {
        font-size: 30px;
    }

}

@media (min-width: 992px) {

    .psychography-container {
        font-size: 30px;
    }

}

@media (min-width: 1200px) {

    .psychography-container {
        font-size: 30px;
    }

}