
.classcard-card {  
    align-items: center;   
}

.classcard-container {
    padding-top: 10px; 
}

.classcard-top-container {
    font-size: 10px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 700;
    color: #263238;
}

.classcard-body-container {
    font-size: 10px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 700;
    color: #263238;
}

.classcard-videooo-container {
    text-align: center;
    
    margin-right: 20px;
    display:block;
}