.class-crud-bar-container {
  display: flex;
  
}

.btn-crud-add {
}

.class-filter-container {    
/*PRESTA ATENÇÃO. AQUI TEMOS O EXEMPLO DE COMO CENTRALIZAR UM TEXTO E RETIRAR OS ESPAÇOS. SOFRI DEMAIS COM ISSO*/ 
  display: flex;
  align-items: center; /*Deixar o texto centralizado*/
  margin-bottom: 0; /*Retirar os espaços de baixo, centralizando ainda mais o texto*/
  flex: 1;  /*Pegar todo o comprimento horizontal da tela*/
}

@media (min-width: 768px) {
  .class-crud-bar-container {
  }

  .btn-crud-add {
  }

  .btn-crud-add a {
  }

  .class-filter-container {
    margin-bottom: 0;
  }
}
