.class-crud-content {
  max-width: 1200px;
  justify-content: center;
}

.class-crud-bar-container {
  margin-bottom: 20px;
}

.btn-crud-add {
  width: 100%;
  height: 50px;
  font-size: 16px;
  letter-spacing: -0.015em;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .class-crud-bar-container {
    display: flex;
  }

  .btn-crud-add {
    margin-bottom: 0;
    height: 60px;
  }
}
