.message-details-container {
    padding: 10px;
    font-size: 24px;
    /*border: 1px solid red;*/
}

.message-content-container {
    border: 1px solid #E1E1E1;
    padding-bottom: 15px;
}

.message-details-card {
    padding: 10px;
    /*border: 1px solid green;*/
}

.goback-container {    
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /*border: 1px solid blue;*/
}

.goback-container h2 {
    margin-left: 15px;
    font-size: 0.6em;
    color: #263238;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

.goback-container svg {
    margin-left: 5px;
    color: #b8860b;
    transform: rotate(-180deg);

}

.message-text-container {
    padding: 20px;
    margin-bottom: 20px;    
    /*border: 1px solid yellow;*/
}

.message-text-container h2 {
    color: #263238;
    letter-spacing: -0.015em;
    font-size: 0.8em;
    margin-bottom: 20px;
}

.message-text-container p {
    color: #263238;
    letter-spacing: -0.015em;
    font-size: 0.6em;
    margin-bottom: 20px;
}

.message-data-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.message-data-container h1 {
    font-size: 0.6em;
    color: #263238;
    text-align: right;
    font-weight: 700;
    padding-right: 30px;
}

@media (min-width: 576px) {

    .message-details-container {
        padding: 30px;
        font-size: 28px;
    }

    .message-details-card {
        padding: 20px;
    }

}

@media (min-width: 768px) {

    .message-details-container {
        padding: 50px;
        font-size: 30px;
    }

    .message-details-card {
        padding: 30px;
    }

}

@media (min-width: 992px) {

    .message-details-container {
        padding: 100px;
        font-size: 30px;
    }

    .message-details-card {
        padding: 40px;
    }

}

@media (min-width: 1200px) {

    .message-details-container {
        padding: 80px 200px;
        font-size: 30px;
    }

    .message-details-card {
        padding: 50px;
    }

}

@media (min-width: 1400px) {

    .message-details-container {
        padding: 100px 350px;
        font-size: 30px;
    }

    .message-details-card {
        padding: 50px;
    }

}
