.message-details-container {
    padding: 20px 10px 10px 10px;
    min-height: 205px;
    font-size: 24px; 
    /*border: 1px solid red;*/
}

.message-content-container {    
    padding-bottom: 15px;
}

.message-details-card {
    background-color: white;
    border: 0px;
    border-radius: 0%;
    
    /*border: 1px solid green;*/
}

.goback-container {    
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /*border: 1px solid blue;*/
    padding-left: 5px;
}

.goback-container h2 {
    margin-left: 15px;
    font-size: 0.6em;
    color: #263238;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

.goback-container svg {
    margin-left: 5px;
    color: #b8860b;
    transform: rotate(-180deg);

}

.message-text-container {
    padding: 20px;
    margin-bottom: 20px;    
    /*border: 1px solid yellow;*/
}

.message-text-container h2 {
    color: #263238;
    letter-spacing: -0.015em;
    font-size: 0.8em;
    margin-bottom: 20px;
}

.message-text-container p {
    color: #263238;
    letter-spacing: -0.015em;
    font-size: 0.6em;
    margin-bottom: 20px;
    text-align:justify; 
}

.message-data-container {
    display: flex;
    align-items: center;
    padding: 15px 11px 0px 11px;
}

.message-data-container h1 {
    font-size: 0.6em;
    color: #263238;
    font-weight: 700;
    padding-right: 30px;
}

@media (min-width: 576px) {

    .message-details-container {
        padding: 30px 30px 250px 30px;
        font-size: 28px;
    }   

}

@media (min-width: 768px) {

    .message-details-container {
        padding: 50px 50px 250px 50px;
        font-size: 30px;
    }

}

@media (min-width: 992px) {

    .message-details-container {
        padding: 100px 100px 1000px 100px;
        font-size: 30px;
    }

}

@media (min-width: 1200px) {

    .message-details-container {
        padding: 80px 200px;
        font-size: 30px;
    }

}

@media (min-width: 1400px) {

    .message-details-container {
        padding: 100px 350px;
        font-size: 30px;
    }

}
