.home-container {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    height: 510px;
}

.home-container h1 {
    font-size: 1em;
}

.home-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-name-container {
    margin-top: 20px;
}

.home-name-container h1 {
    width: 260px;
}

.home-opening-container {
    margin-top: 30px;
    padding: 20px 0 0 0;
    font-size: 0.7em;
}

.home-wednesday-container {
    padding: 10px;
    font-size: 0.7em;
}

.home-saturday-container {
    padding: 10px;
    font-size: 0.7em;
}

.home-lecture-container {
    font-size: 0.7em;
}

.home-helpcare-container {    
    font-size: 0.7em;
    padding: 0 0 5px 0; 
}

.home-phone-container {
    font-size: 1.0em; 
    padding: 0 0 100px 0;   
}

.home-phone-container p {
    width: 260px;
    font-size: 0.6em;
}

@media (min-width: 576px) {

    .home-container {
        padding: 15px;
        font-size: 32px;
        height: 460px;
    }

    .home-name-container h1 {
        width: 506px;
    }

    .home-phone-container p {
        width: 506px;
    }
}

@media (min-width: 992px) {

   

    .home-name-container h1 {
        width: 800px;
    }

    .home-phone-container p {
        width: 800px;
    }

}