.lecture2.container {
    font-size: 18px;   
}

.lecture-title-container {
    margin-bottom: 20px; 
    align-content: center;   
    padding-top: 10px; 
    margin-left: 0px;
    margin-right: 0px;
}

.lecture-title-container h1 {
    font-size: 1em;
    letter-spacing: -0.015em; 
    color: #263238;       
    text-align: center;
}

@media (min-width: 768px) {

    .lecture-container { 
        font-size: 30px;
    }

}

@media (min-width: 992px) {

    .lecture-container {
        font-size: 30px;
    }

}

@media (min-width: 1200px) {

    .lecture-container {
        font-size: 30px;
    }

}