.message-card {  
    align-items: center;    
    /*border: 1px solid orange;*/
    padding-bottom: 10px;
    padding-top: 0;
}

.message-top-container p {
    font-size: 15px;
    color: #263238;
    text-align: left;
    
}

.message-body-container p {
    font-size: 10px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 700;
    color: #263238;
}

.message-botton-container h1 {
    font-size: 10px;
    margin-bottom: 5px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 700;
    color: #263238;

}

@media (min-width: 992px) {
    .message-card {  
        align-items: center;    
        border: 1px solid #E1E1E1;
        min-height: 200px;
        max-height: 200px;
        padding-top: 20px;
    }
}
