.message-container {
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    min-height: 205px;
    /*border: 1px solid rgb(25, 0, 255);*/
}

.message-src-container {
    margin-bottom: 1px; 
    align-content: center;   
    margin-left: 0px;
    margin-right: 0px;
}

.message-src-container h1 {
    font-size: 1em;
    letter-spacing: -0.015em;
    color: #263238;       
    text-align: center;
}

@media (min-width: 768px) {

    .message-container {
        font-size: 30px;
    }

}

@media (min-width: 992px) {

    .message-container {
        
        font-size: 30px;
    }

}

@media (min-width: 1200px) {

    .message-container {
        
        font-size: 30px;
    }

}