.message-container {
    font-size: 18px;
    padding: 40px 40px;
    /*border: 1px solid rgb(25, 0, 255);*/
}

.message-title-container {
    margin-bottom: 20px; 
    align-content: center;   
}

.message-title-container h1 {
    font-size: 1em;
    letter-spacing: -0.015em;
    color: #263238;       
    text-align: center;
}

@media (min-width: 768px) {

    .message-container {
        padding: 40px 100px;
        font-size: 30px;
    }

}

@media (min-width: 992px) {

    .message-container {
        padding: 38px 200px;
        font-size: 30px;
    }

}

@media (min-width: 1200px) {

    .message-container {
        padding: 40px 290px;
        font-size: 30px;
    }

}