.main-nav {
    min-height: 70px;
    background-color:#FFF;
    border-bottom: 1px solid #E1E1E1;
    padding: 30px 30px 30px 40px;
}

.nav-logo-text, .nav-logo-text:hover {
    color: #b8860b;
}

.main-menu {
    display: flex;
    font-size: 18px;
    width: 100%;
    justify-content:space-between;    
}

.main-menu a {
    color:rgba(56, 53, 53, 0.911);
}

.main-menu a:hover {
    color: #b8860b;
}

.main-menu a.active {
    color: #b8860b;
}