.lecture2-filter {
    padding: 5px;
    margin-bottom: 20px;
}

.lecture2-filter-name-container {
    display: flex;
    align-items: center;    
    margin-bottom: 10px;
}

.lecture2-filter-name-container input {
    border: none;
    background-color: #FFF;
    border-bottom: 1px solid #E1E1E1;
}

.lecture2-filter-name-container input:focus {
    box-shadow: none;
    background-color: #FFF;
}

.lecture2-filter-name-container input::placeholder {
    color: #9E9E9E;
}

.lecture2-filter-search-icon {
    border: none;
    background-color: unset;
}

.btn-lecture2-clear {
    font-weight: bold;
    border-radius: 1px;
    padding: 1px;
    color: #9E9E9E;
}

@media (min-width: 576px) {
    .lecture2-filter-form {
        display: flex;
    }

    .lecture2-filter-name-container {
        flex: 1;
        margin-right: 20px;
        margin-bottom: 0;
    }
}