
.psychography-card {  
    align-items: center;    
    /*border: 1px solid orange;*/
}

.psychography-top-container p {
    font-size: 15px;
    color: #263238;
    text-align: left;
    
}

.psychography-body-container p {
    font-size: 15px;
    color: #263238;
    text-align: left;
}

.psychography-botton-container h1 {
    font-size: 18px;
    color: #263238;
    text-align: left;
}

@media (min-width: 768px) {
    .psychography-card {  
        align-items: center;    
        margin-left: 100px;
        margin-right: 100px;
    }
  }

  @media (min-width: 992px) {
    .psychography-card {  
        align-items: center;    
        margin-left: 300px;
        margin-right: 300px;
    }
  }