.footer1 {
    background-color:#3b5998;
}

.footer2 {
    background-color:#55acee;
}

.footer3 {
    background-color:#dd4b39;
}

.footer4 {
    background-color:#ac2bac;
}

.footer5 {
    background-color:#0082ca;
}

.footer6 {
    background-color:#333333;
}

.footer7 {
    background-color:rgba(0, 0, 0, 0.2);
}
