.medium-crud-card {
    align-items: center;
  }
  
  .medium-crud-top-container {
    padding: 5px 20px;
  }
  
  .medium-crud-top-container p {
    font-size: 15px;
    color: #263238;
    text-align: left;
    font-weight: 700;
  }
  
  .medium-crud-container p {
    font-size: 15px;
    color: #263238;
    font-weight: 700px;
    padding: 0px 20px;
    margin: 20px;
    background-color: #c4c4c4;
    align-items: center; /*Deixar o texto centralizado*/
    text-align: center;
  }
  
  .medium-crud-buttons-container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .medium-crud-card-button {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.015em;
    width: 100px;
    height: 40px;
  }
  
  .medium-crud-card-button-first {
    margin-right: 10px;
  }
  
  @media (min-width: 768px) {
    .medium-crud-card {
      display: flex;
      justify-content: space-between;
      padding: 0;
    } 
  
    .medium-crud-container {
      display: flex;
      justify-content: flex-start;    
    }
  
    .medium-crud-container p {
      height: 40px;
      padding: 10px;
      
    }
  
    .medium-crud-buttons-container {
      justify-content: center;
    }
  
    .medium-crud-card-button-first {
      margin-right: 0;
      margin-top: 22px;
    }
  
    .medium-crud-card-button {
      width: 140px;
    }
  }
  
  @media (min-width: 992px) {
    .medium-crud-container {
    }
  
    .medium-crud-card-button {
    }
  }
  